# 默认忽略的文件
/shelf/
/workspace.xml
Binaries/
Intermediate/
Saved/
DerivedDataCache/
.vs/
.idea/
*.sln/
.claude/
*.md
/Plugins/UnLua/Source
/Plugins/UnLua/Source
*.log
/Output/docx_builder
*.docx
/Plugins/UnLua/Source
*.log
unreal_mcp_advanced.log
/Backend
/Plugins/UnLua/Source
*.log
